<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light rounded" xmlns:th="http://www.thymeleaf.org">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img th:src="@{/images/mymob-logo.png}" alt="" width="150" height="35" class="d-inline-block align-text-top" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse fw-bold" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Почетна</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Продукти</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Галантерија</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#" tabindex="-1" aria-disabled="true">Најави се</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>